.title {
  @apply text-6xl; /* TODO <-- add default title styles here */
}

.title2 {
  @apply text-3xl font-bold mb-3 text-primary-blue-400 text-center md:text-5xl;
}

.title3 {
  @apply text-4xl;
}

.title4 {
  @apply text-3xl;
}

.title5 {
  @apply text-2xl;
}

.title6 {
  @apply text-xl font-semibold text-primary-blue-400 leading-none mb-[8px];
}
